/* 
    Document   : posStyle
    Created on : 31-Jan-2013, 10:40:09 PM
    Author     : Wilson
    Description:
        Purpose of the stylesheet follows.
*/

#posSlides { 
    width: 900px; 
    text-align: center; 
    font-size: 13px; 
}

#posSlides > div { 
    width: 360px; 
}

#posSlides .current img {
    cursor: help; 
}

#posSlides img {
    box-shadow: 3px 3px 3px #888;
}

#posIntro {
    border-radius: 10px;
    position: relative;
    padding: 20px;
    width: 95%;
    margin: 20px auto;
}

#posIntro p {
    width: 90%;
    margin: 0 auto 10px;
}

#guiIntro {
    position: relative; 
    width: 90%; 
    margin: 0 auto;
}

#posPage, #aboutMe {
    background: url(../images/siteStyle/grungeBG.jpg) repeat top;
    border: 1px solid #AAA;
    box-shadow: 2px 2px 2px #AAA;
    border-radius: 10px;
}

#aboutMe {
    padding: 20px;
}

.guiList {
}

.guiList li {
    list-style: square;
}
